<?xml version="1.0" encoding="utf-8"?>
<!--
android:label="@string/category_family"  to show actual activity name in ActionBar
 android:parentActivityName=".MainActivity" to show Up Button in ActionBar
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.miwokappwithfragementsandswipeoption">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- parentActivityName code for Up Button in Action bar -->
        <activity android:name=".PhrasesActivity"
            android:label="@string/category_phrases"
            android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".FamilyActivity"
            android:label="@string/category_family"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".ColorsActivity"
            android:label="@string/category_colors"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".NumbersActivity"
            android:label="@string/category_numbers"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>